body {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
  background-color: black;

}

.cabe {
  background-color: rgb(165, 4, 4);
  height: 100px ;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 5px 2px 10px black;
  opacity: 0.92;
}

.logo_dp {  
  display: inline-block;
  vertical-align: bottom;

  width: 150px;
  position: fixed;
  left: -150px; /* Posição inicial fora da tela */
  top: 20px;
  animation: slideIn 1.5s forwards;  
}

@keyframes slideIn {
  to {
    left: 20px; /* Posição final desejada */
  }
}

.carrinho{
  float: right;
}


nav {
  padding-top: 30px;
}

nav a {
  color: rgb(253, 252, 252);
  text-decoration: none;
  padding-top: 10rem;
  font-size: larger;
  margin: 0 10px;
  text-shadow: 5px 2px 10px black;
}

main {
  padding: 20px;
}

footer {
  background-color: #9b3434;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.section1 {
  padding-right: 0;
  padding-bottom: 0rem;
  max-width: 100%;
  align-items: flex-start;
}

.rodape{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: smaller;
  text-align: justify;
}

.g4{
  font-size: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

