/* ul a {
  color: black;
}
nav ul li {
  color: red;
} */

/* .a {
  color: black;
}
#nav ul li {
  color: red;
} */
/* 
#a{color: black;}
#nav li ul{color: red;} */
/* 
a{
    color: blue;
}
nav ul li{
    color: red;
} */